<label style="text-align:center;width:100%;">{{school}}</label>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" style="width: 100%;">
   
   <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
  
    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="myTap" role="tablist">
            <li class="nav-item" role="presentation">
                <a  class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" placement="bottom" ngbTooltip="Home" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="teacher-tab" data-toggle="tab" href="#teacher" role="tab" aria-controls="teacher" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="fas fa-chalkboard-teacher"></i>TEACHER</a>
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="teacher-attendance" data-toggle="tab" href="#teacherat" role="tab" aria-controls="teacherat" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed">teacher attendance</a>
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="admission-tab" data-toggle="tab" href="#admission" role="tab" aria-controls="admission" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="fas fa-user-friends"></i>ADMISSION</a>              
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="class-tab" data-toggle="tab" href="#class" role="tab" aria-controls="class" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="far fa-users"></i>CLASSES</a>
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="attendance-tab" data-toggle="tab" href="#attendance" role="tab" aria-controls="attendance" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="fas fa-calendar-check"></i>ATTENDANCE</a>
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="exam-tab" data-toggle="tab" href="#exam" role="tab" aria-controls="exam" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="far fa-file-alt"></i>EXAM</a>
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="fab fa-researchgate"></i>RESULT</a>
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="sports-tab" data-toggle="tab" href="#sports" role="tab" aria-controls="sports" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="fas fa-football-ball"></i>SPORTS</a>
            </li>
            <li class="nav-item" role="presentation" >
                <a  class="nav-link" id="galarey-tab" data-toggle="tab" href="#galarey" role="tab" aria-controls="galarey" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="fas fa-camera-retro"></i>GALAREY</a>
            </li>
            <li class="nav-item" role="presentation">
                <a  class="nav-link" id="lecture-tab" data-toggle="tab" href="#lecture" role="tab" aria-controls="lecture" aria-selected="false" (click)="isMenuCollapsed = !isMenuCollapsed"><i class="far fa-file-video"></i>LECTURE</a>
            </li>
        </ul>
    </div>
  </nav>





<!-- Nav tabs -->
<div class="tab-content" style="width:100%;">
     <!---home tab---------------------------------------------------------------->
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
       
        <div class="flex1">
            <div class="mattab">  
            <mat-tab-group mat-align-tabs="start" style="width:100%;">
              <mat-tab label="NEWS">
                <mat-card class="matcard">
                  <marquee direction="up" class="mar" scrollamount="2" onmouseover="stop()" onmouseout="start()">
                  <div *ngFor="let news of newslist | async">  
                    <mat-card class="my-2">
                      <mat-card-title (click)="download(news.downurl)">{{news.title}}</mat-card-title>
                      <mat-card-subtitle>dated on: {{news.date}}  <span class="mx-5">posted by:{{news.post}}</span></mat-card-subtitle>
                    </mat-card>
                  </div>
                  </marquee>
                </mat-card>
              </mat-tab>
              <mat-tab label="EVENTS">
                <mat-card class="matcard">
                  <marquee direction="up" class="mar" scrollamount="2" onmouseover="stop()" onmouseout="start()">
                   <div *ngFor="let news of eventlist | async">  
                    <mat-card class="my-2">
                      <mat-card-title (click)="download(news.downurl)">{{news.title}}</mat-card-title>
                      <mat-card-subtitle>dated on: {{news.date}} <span class="mx-5">posted by:{{news.post}}</span></mat-card-subtitle>
                    </mat-card>
                  </div>
                  </marquee>
              </mat-card>
              </mat-tab>
              <mat-tab label="STUDENT ACHIVEMENTS">
                <mat-card class="matcard my-2">
                  <marquee direction="up" class="mar" scrollamount="2" onmouseover="stop()" onmouseout="start()">
                   <div *ngFor="let news of achievelist | async">  
                    <mat-card>
                      <mat-card-title (click)="download(news.downurl)">{{news.title}}</mat-card-title>
                      <mat-card-subtitle>dated on: {{news.date}} <span class="mx-5">posted by:{{news.post}}</span></mat-card-subtitle>
                    </mat-card>
                  </div>
                  </marquee>
                </mat-card>
              </mat-tab>
            </mat-tab-group>  
            </div>
            <div class="stick">
              <h1 style="text-align:center;">ADMINISTRATION</h1>
              <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)"  style="width:100%;height:470px">
                <ng-template ngbSlide *ngFor="let photo of photolist | async; index as i" ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="photo.downurl" width="100%" height="470px">
                    </div>
                    <div class="carousel-caption">
                      <h3>{{photo.title}}</h3>
                      <p>{{photo.date}}</p>
                    </div>
                </ng-template>
              </ngb-carousel>
            </div>
            </div>
            
            
    </div>
    <!----teacher tab------------------------------------------------------------>
    <div class="tab-pane" id="teacher" role="tabpanel" aria-labelledby="teacher-tab"><div  *ngFor="let teacher of teacherprofiles | async"> 
        <div class="flex" style="margin-top: 10px;">
            <img [src]="teacher.url" width="15%" height="15%">
            <div>
                <label>Role : <span>{{teacher.role}}</span></label><br>
                <label>Name : <span>{{teacher.name}}</span></label><br>
                <label>Qualification : <span>{{teacher.deg}}</span></label><br>
            </div>
        </div>
        <mat-divider width="100%"></mat-divider>
        </div>
    </div>
    <div class="tab-pane" id="teacherat" role="tabpanel" aria-labelledby="teacher-attendance">
        <div class="tabdiv">
            <input class="form-control" type="date" style="margin-top: 2%;" [(ngModel)]="date" (change)="showteachAttendance()">
            <mat-tab-group>
                <mat-tab label="Show Attendance">
                    <table  id="showat" class="table table-striped">
                        <thead>
                        <tr>
                          <th scope="col">S.no</th>
                          <th scope="col">Role</th>
                          <th scope="col">Name</th>
                          <th scope="col">Attendance</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let student of showteacheratList | async; index as i">
                          <th scope="row">{{ i + 1 }}</th>
                          <td>{{student.role}}</td>
                          <td>{{ student.name }}</td>
                          <td>{{student.at}}</td>
                        </tr>
                        </tbody>
                      </table>
                     <!--  <button (click)="Export()">pdf</button> -->
                </mat-tab>    
            </mat-tab-group>

                           
             
        </div>
</div> 

    <!-----Admission tab--------------------------------------------------------------------------->
    <div class="tab-pane" id="admission" role="tabpanel" aria-labelledby="admission-tab">
        <select class="custom-select" style="width: 30%;" (change)="showAdmissionList($event)" style="margin-top: 5px;">
            <option selected value="">-------------- Select year -------</option>
            <option *ngFor="let year of yearlist | async">{{year.key}}</option>
        </select> 
             <hr width="100%">
        <div *ngFor="let student of admissionList |async">
            <div class="flex">
                <img [src]="student.url" style="width: 100px;height: 100px;">
                <div> 
                    <mat-card-title>{{student.reg}}</mat-card-title>
                    <label>Name : <span>{{student.name}}</span></label><br>
                    <label>Dob : <span>{{student.dob}}</span></label><br>
                </div>
            </div>
                <hr width="100%">
        </div>
    </div>    
    
    
    <!----CLASSES TAB----------------------------------------------------------------->
    <div class="tab-pane" id="class" role="tabpanel" aria-labelledby="class-tab">
        <select class="custom-select" style="margin-top: 1%;" (change)="setyear($event)">
            <option selected value="" >select current year</option>
            <option *ngFor="let year of yearlist | async">{{year.key}}</option>
        </select>
        <mat-divider width="100% " style="margin-top: 10px;"></mat-divider>
        <div class="flex" style="width: 100%;">
                <div class="sidetab" style="width: 20%; margin-top: 2%; height:100%">
                    <div  style="width: 100%;">
                        <button class="btn btn-secondary">Standard</button>
                    </div>
                    <div *ngFor="let class of classList | async">
                        <div  style="width: 100%;">
                        <button class="btn btn-outline-secondary" style="width: 85%;" [matMenuTriggerFor]="section" (click)="selectsection(class.key)">{{class.key}}</button> 
                        <mat-menu #section="matMenu">
                            <div *ngFor="let section of sectionList | async">  
                            <button mat-menu-item (click)="showStudentList(section.key)">{{section.key}}</button>
                            </div>
                        </mat-menu>
                        </div>
                    </div>
                </div>
                <hr style="width: 2px; background: black; height:auto;margin-left: 5px;">
            <div id="tabdiv" style="width: 78%; margin-left:2%;">
                <div *ngFor="let student of studentShowList |async">
                    <div class="flex" style="margin-left: 10px;">
                        <img [src]="student.url" style="width: 100px;height: 100px;">
                        <div style="margin-left: 10px;">
                            <mat-card-title>{{student.reg}}</mat-card-title>
                            <label>Name : <span>{{student.name}}</span></label><br>
                            <label>Dob : <span>{{student.dob}}</span></label><br>
                        </div>
                    </div>
                    <hr width="100%"> 
                </div>
            </div>    
        </div>
    </div>
<!----------------ATTENDANCE TAB------------------------------------------------------------->
    <div class="tab-pane" id="attendance" role="tabpanel" aria-labelledby="attendance-tab">
        <select class="custom-select" style="margin-top: 1%;" (change)="setyear1($event)">
            <option selected value="" >select current year</option>
            <option *ngFor="let year of yearlist | async">{{year.key}}</option>
        </select>
        <mat-divider width="100% " style="margin-top: 10px;"></mat-divider>
        <div class="flex" style="width: 100%;">
                <div class="sidetab" style="width: 20%; margin-top: 2%; height:100%">
                    <div  style="width: 100%;">
                        <button class="btn btn-secondary">Standard</button>
                    </div>
                    <div *ngFor="let class of classList1 | async">
                        <div  style="width: 100%;">
                            <button class="btn btn-outline-secondary" style="width: 85%;" [matMenuTriggerFor]="section" (click)="selectsection1(class.key)">{{class.key}}</button> 
                            <mat-menu #section="matMenu">
                                <div *ngFor="let section of sectionList1 | async">  
                                <button mat-menu-item (click)="showStudentList1(section.key)">{{section.key}}</button>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </div>
                <hr style="width: 2px; background: black; height:auto;margin-left: 5px;">
            <div class="tabdiv">
                <input class="form-control" type="date" style="margin-top: 2%;" [(ngModel)]="date" (change)="showAttendance()">
                <mat-tab-group>
                    <mat-tab label="Show Attendance">
                        <table  id="showat" class="table table-striped">
                            <thead>
                            <tr>
                              <th scope="col">S.no</th>
                              <th scope="col">Name</th>
                              <th scope="col">Register No</th>
                              <th scope="col">Attendance</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let student of studentShowList2 | async; index as i">
                              <th scope="row">{{ i + 1 }}</th>
                              <td>{{ student.name }}</td>
                              <td>{{ student.reg }}</td>
                              <td>{{student.at}}</td>
                            </tr>
                            </tbody>
                          </table>
                         <!--  <button (click)="Export()">pdf</button>
 -->                    </mat-tab>    
                </mat-tab-group>
    
                               
                 
            </div>
        </div>
    </div>
<!------------------EXAM TAB---------------------------------------------------------------------->
    <div class="tab-pane" id="exam" role="tabpanel" aria-labelledby="exam-tab">
        <select class="custom-select" style="margin-top: 1%;" (change)="setyear2($event)">
            <option selected value="" >select current year</option>
            <option *ngFor="let year of yearlist | async">{{year.key}}</option>
        </select>
        <mat-divider width="100% " style="margin-top: 10px;"></mat-divider>
        <div class="flex" style="width: 100%;">
                <div class="sidetab" style="width: 20%; margin-top: 2%; height:100%">
                    <div  style="width: 100%;">
                        <button class="btn btn-secondary">Standard</button>
                    </div>
                    <div *ngFor="let class of classList2 | async">
                        <div  style="width: 100%;">
                            <button class="btn btn-outline-secondary" style="width: 85%;" (click)="setstand2(class.key)">{{class.key}}</button> 
                        </div>
                    </div>
                </div>
                <hr style="width: 2px; background: black; height:auto;margin-left: 5px;">
                <div class="tabdiv">
                    <mat-tab-group>
                        <mat-tab label="Show Time Table" >
                            <select class="custom-select" (change)="showExaminationList($event)">
                                <option selected value="">select exam</option>
                                <option *ngFor="let exam of examList | async" >{{exam.key}}</option>
                            </select>
                            <table  class="table table-striped">
                                <thead>
                                <tr>
                                  <th scope="col">S.no</th>
                                  <th scope="col">subject No</th>
                                  <th scope="col">Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let exam of examShowList |async; index as i">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{exam.sub}}</td>
                                    <td>{{exam.date}}</td>
                                </tr>
                                </tbody>
                              </table>
                        </mat-tab>
                    </mat-tab-group>
                </div> 
            </div>   
    </div>                
<!-----------------------------RESULT TAB----------------------------------------------------------------->
    <div class="tab-pane" id="result" role="tabpanel" aria-labelledby="result-tab">
        <select class="custom-select" style="margin-top: 1%;" (change)="setyear3($event)">
            <option selected value="" >select current year</option>
            <option *ngFor="let year of yearlist | async">{{year.key}}</option>
        </select>
        <mat-divider width="100% " style="margin-top: 10px;"></mat-divider>
        <div class="flex" style="width: 100%;">
            <div class="sidetab">
                    <div  style="width: 100%;">
                        <button class="btn btn-secondary" >Standard</button>
                    </div>
                    <div *ngFor="let class of classList3 | async">
                        <button class="btn btn-outline-secondary" style="width: 100%;" [matMenuTriggerFor]="section" (click)="selectsection3(class.key)">{{class.key}}</button> 
                        <mat-menu #section="matMenu">
                            <div *ngFor="let section of sectionList3 | async">  
                            <button mat-menu-item (click)="getstudentList(section.key)">{{section.key}}</button>
                            </div>
                        </mat-menu>
                    </div>
            </div>
                <hr style="width: 2px; background: black; height:auto;margin-left: 5px;">
            <div class="tabdiv">
                <select class="custom-select" (change)="getsubjectList($event)">
                    <option selected value="">select exam</option>
                    <option *ngFor="let exam of ExamList |async">{{exam.key}}</option>
                </select>
                <select class="custom-select" (change)="setsubject($event)">
                    <option selected value="">select subject</option>
                    <option *ngFor="let exam of ExamSubList| async">{{exam.sub}}</option> 
                </select>
                <mat-tab-group>
                    <mat-tab label="Show Result">
                        <table  class="table table-striped">
                            <thead>
                            <tr>
                              <th scope="col">S.no</th>
                              <th scope="col">Register No</th>
                              <th scope="col">Subject Name</th>
                              <th>Marks</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let result of showSubjectResult | async; index as i">
                                <th scope="row">{{i+1}}</th>
                                <td>{{result.reg}}</td>
                                <td>{{result.name}}</td>
                                <td>{{result.mark}}</td>
                            </tr>
                            </tbody>
                          </table>
                    </mat-tab>
                </mat-tab-group>  
            </div>
        </div>
    </div>
<!------------------------------Sports tab-------------------------------------------------->
    <div class="tab-pane" id="sports" role="tabpanel" aria-labelledby="sports-tab">
        <div class="flex">
            <marquee class="marq" width="40%" height="300px" direction="up" style="margin-left:5%;border:2px solid black;" onmouseover="stop()" onmouseout="start()">
                <div *ngFor="let event of sportsList| async">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                           {{event.head}}
                          </mat-panel-title>
                          <mat-panel-description>
                           dated on:{{event.date}}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>{{event.content}}</p>
                      </mat-expansion-panel>
                </div>
            </marquee>

            <ngb-carousel  #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)"   class="caro">
                <ng-template ngbSlide *ngFor="let photo of sportsPhotoList |async; index as i" ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="photo" width="100%" height="470px">
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

    <!-------galarey tab------------------------------------------------------------->
    <div class="tab-pane" id="galarey" role="tabpanel" aria-labelledby="galarey-tab">
        <mat-tab-group>
            <mat-tab label="Image Galarey">
               <div *ngFor="let photo of galareyPhotoList| async">
                <mat-card style="width: 340px;">
                    <img [src]="photo.url" width="100%" height="200px">
                    <div style="height:100px;width:100%;margin-left:0;margin-right:0;margin-bottom:0;background:red;color:white;">
                       <h5>{{photo.head}}</h5>
                       <h5>{{photo.date}}</h5>
                       <h5>{{photo.content}}</h5>
                    </div>
                 </mat-card> 
                </div>
            </mat-tab>
            <mat-tab label="Video Galarey">
                <div *ngFor="let photo of galareyPhotoList| async">
                    <mat-card style="width: 340px;">
                        <video width="320" height="240" controls>
                            <source [src]="photo.url">
                        </video>
                        <div style="height:100px;width:100%;margin-left:0;margin-right:0;margin-bottom:0;background:red;color:white;">
                           <h5>{{photo.head}}</h5>
                           <h5>{{photo.date}}</h5>
                           <h5>{{photo.content}}</h5>
                        </div>
                     </mat-card> 
                    </div>
            </mat-tab>    
        </mat-tab-group>
 </div>
    
 <!----lecture tab--------------------------------------------------------->   
    <div class="tab-pane" id="lecture" role="tabpanel" aria-labelledby="lecture-tab">
        <select class="custom-select" style="margin-top: 1%;" (change)="setyear4($event)">
            <option selected value="" >select current year</option>
            <option *ngFor="let year of yearlist | async">{{year.key}}</option>
        </select>
        <mat-divider width="100% " style="margin-top: 10px;"></mat-divider>
        <div class="flex" style="width: 100%;">
                <div class="sidetab" style="width: 20%; margin-top: 2%; height:100%">
                    <div  style="width: 100%;">
                        <button class="btn btn-secondary">Standard</button>
                    </div>
                    <div *ngFor="let class of classList4 | async">
                        <div  style="width: 100%;">
                            <button class="btn btn-outline-secondary" style="width: 85%;" (click)="setstand4(class.key)">{{class.key}}</button> 
                        </div>
                    </div>
                </div>
                <hr style="width: 2px; background: black; height:auto;margin-left: 5px;">
                <div class="tabdiv">
                    <mat-tab-group  mat-align-tabs="start">
                        <mat-tab label="document">
                            <div *ngFor="let doc of lectureDocumentList | async">
                                <mat-card (click)="downloadDocument(doc.url)" style="width: 50%;">
                                    <mat-card-header>
                                        <mat-card-title>{{doc.head}}</mat-card-title>
                                        <mat-card-subtitle>{{doc.date}}</mat-card-subtitle>
                                    </mat-card-header>
                                    {{doc.content}}
                                </mat-card>
                            </div>   
                        </mat-tab>
                        <mat-tab label="video">
                            <div *ngFor="let doc of lectureVideoList | async">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                       {{doc.head}}
                                      </mat-panel-title>
                                      <mat-panel-description>
                                        {{doc.date}}
                                      </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <video width="320" height="240" controls>
                                        <source [src]="doc.url">
                                    </video>
                                    <p>{{doc.content}}</p>        
                                  </mat-expansion-panel>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
        </div>        
    </div>
</div>
